################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AudiosBot/AudiosBot/bin/Debug/net5.0
/AudiosBot/.vs/AudiosBot/v16
/AudiosBot/AudiosBot/obj
/AudiosBot/AudiosBot.Domain/bin/Debug/net5.0
/AudiosBot/AudiosBot.Domain/obj
/AudiosBot/AudiosBot.Infra/bin/Debug/net5.0
/AudiosBot/AudiosBot.Infra/obj
/AudiosBot/AudiosBot.Test/obj
/AudiosBot/AudiosBot.Test/bin/Debug/net5.0
/AudiosBot/.vs/AudiosBot/config
