################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AudiosBot/AudiosBot/bin/Debug/net5.0
